body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #020202;
    color: #ffffff;
    line-height: 1.6;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header .logo {
    width: 100%;
    max-width: 1080px;
    height: auto;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.5em;
}

section {
    padding: 50px;
    margin: 20px auto;
    background-color: #ffffff75;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}
.sobre-texto {
    text-align: justify; /* Alinhamento justificado */
    font-family: 'Roboto', sans-serif; /* Fonte personalizada */
    font-size: 1.1em; /* Tamanho da fonte */
    line-height: 1.8; /* Espaçamento entre linhas */
    color: #ffffff; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento abaixo do parágrafo */
}
h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e7e7e7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    font-size: 1.1em;
    color: #000000;
}

#whatsapp-button, #maps-button, #instagram-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 5px 0;
}

#whatsapp-button {
    background-color: #25D366;
}

#whatsapp-button:hover {
    background-color: #128C7E;
}

#maps-button {
    background-color: #4285F4;
}

#maps-button:hover {
    background-color: #357ABD;
}

#instagram-button {
    background-color: #E1306C;
}

#instagram-button:hover {
    background-color: #C13584;
}

.whatsapp-icone, .maps-icone, .instagram-icone {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.barbearia-imagem {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #383838;
    color: #ececec;
    position: relative;
    width: 100%;
    bottom: 0;
}
